DBSAPPRD=XXXXXXXXXXXXX
DBSAPTEST=XXXXXXXXXXXXXXXXXXXXX
DBSAPCCQA=XXXXXXXXXXXXXXX
DBSAPDEV=XXXXXXXXXXXXXXXXXXXXX
DBSAPCOM=XXXXXXXXXXXXXXXXXXXX
USERSAP=XXXXXXXXXXXXXXXXXXXXX
PASSSAP=XXXXXXXXXXXXXXXX
TOKENS={"tokens":["XXXXXXXXXXXXXXXXXXXXXXXXX","XXXXXXXXXXXX","XXXXXXXXXXXXXXXXXXX"]}
HANASERVER=XXXXXXXXXXXXXXXX
HANAPORT=XXXXXXXXXXXXXXXX
HANAUSER=B1ADMINXXXXXXXXXXXXXXXX
HANAPASS=XXXXXXXXXXXXXXXX
SECRETORPRIVATEKEY=XXXXXXXXXXXXXXXX
API_NEST=XXXXXXXXXXXXXXXX
TOKEN_NEST=XXXXXXXXXXXXXXXX
API_PROSIN=XXXXXXXXXXXXXXXX
#TOKEN_PROSIN=XXXXXXXXXXXXXXXX
SERVIDOR=XXXXXXXXXXXXXXXX
BD_SERVER=XXXXXXXXXXXXXXXX
USER_SERVER=XXXXXXXXXXXXXXXX
PASS_SERVER=XXXXXXXXXXXXXXXX
PRD=xxxxxxxxxxxxxx

USER_GENESIS_SERVER=XXXXXXXXXXXXXXXXXXXXXX
PASS_GENESIS_SERVER=XXXXXXXXXXXXXXXXXXXXXX
SERVIDOR_GENESIS=XXXXXXXXXXXXXXXXXXXXXX
BD_GENESIS_SERVER=XXXXXXXXXXXXXXXXXXXXXX
STATIC_BASE_URL=http://localhost:97/static

SAP_SERIES_ORDER=300
SAP_SERIES_QUOTATION=300
SAP_SERIES_DELIVERY_NOTES=300
SAP_SERIES_INVOICE=300
SAP_SERIES_INCOMING_PAYMENT=300
SAP_SERIES_RETURN=300
SAP_SERIES_CREDIT_NOTES=300
SAP_SERIES_INTERNAL_RECONCILIATION=300
SAP_SERIES_INVENTORY_TRANSFER_REQUEST=300
SAP_SERIES_INVENTORY_GEN_ENTRY=300
SAP_SERIES_SALES_PERSON=300
SAP_SERIES_JOURNAL_ENTRY=300
SAP_SERIES_JOURNAL_VOUCHER_SERVICE=300
SAP_SERIES_INVENTORY_GEN_EXISTS=300
SAP_INVENTORY_TRANSFER_REQUESTS=300

VAPID_KEY_PUBLIC=xxxxxxxxxx
VAPID_KEY_PRIVATE=xxxxxxxx